html{
    @media (max-width: 1440px){
        font-size: 14px;
    }
    @include respond-below(xxl){
        font-size: 14px;
    }
    @include respond-below(xl){
        font-size: 14px;
    }
    @include respond-below(lg){
        font-size: 14px;
    }
    @include respond-below(md){
        font-size: 16px;
    }

    overflow-x: hidden;
    overflow-y: auto;
}

body{
    position: relative;
    width: 100%;
    overflow: hidden;
    color: $dark;
    font-family: $font-1;
    margin: 0 !important;
    padding: 0 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

button,
input,
select,
textarea {
    font-size: 100%;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    outline: none;
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
}

ul,
ol{
    list-style-type: none;
}

section {
    position: relative;
}

.container{
    position: relative;
    margin-inline: auto;
    padding-inline: 1.5rem;
    height: 100%;

    @include respond-above(xxl){
        max-width: 1440px;
    }
    @include respond-below(xxl){
        max-width: 1280px;
    }
    @include respond-below(xl){
        max-width: 960px;
    }
    @include respond-below(lg){
        max-width: 720px;
        padding-left: 1.125rem;
        padding-right: 1.125rem;
    }
    @include respond-below(md){
        max-width: 90%;
    }
}

.section-id{
    position: absolute;
    margin-top: -10rem;
}