.input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font: $font-1;
  transition: all 0.3s ease;

  input {
    transition: all 0.3s ease;
    &::placeholder {
      color: rgba($secondary_dark, 0.8);
    }
  }

  label {
    transition: all 0.3s ease;
  }

  &--text {
    input {
      width: 100%;
    }
    label {
      display: block;
    }

    &.error {
      input {
        background: $error_bg !important;
        color: $error !important;
      }
      label {
        color: $error !important;
      }

    }
  }

  &--normal {
    input {
      border-radius: 0.625rem;
      padding: 0.4rem 1.25rem;
    }
    label {
      font-size: 0.9rem;
      margin-bottom: 0.18rem;
    }
  }

  &--light_beige {
    input {
      background-color: $light_beige;
      border: none;
      color: $dark;
    }
  }
}