$red: #d23f40;
.button{
  max-height: 32px !important;
  min-height: unset !important;
  transition: all 0.3s ease;
  &.button-danger {
    background: $red !important;
    border-color: $red !important;
    color: white !important;
    @include hover() {
      background: darken($red, 10%) !important;
      border-color: darken($red, 10%) !important;
      color: white !important;
    }
    &:focus {
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px $red !important;
    }
  }

  &.button-loading {
    pointer-events: none;
    cursor: wait;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}