@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
$font-1: "Quicksand", sans-serif;
$font-2: "Josefin Sans", sans-serif;

$brownish_yellow: #D3932A;
$white: #FFFFFF;
$light_beige: #F7F0E8;
$dirty_beige: #EAE1DA;
$dark: #6D4A10;
$secondary_dark: rgba($dark, 0.8);
$error: #c92727;
$error_bg: #ffe0e0;

.text-yellow {
    color: $brownish_yellow !important;
}

.text-white {
    color: $white !important;
}

.text-dark {
    color: $dark !important;
}

.bg-light-beige {
    background-color: $light_beige !important;
}

.bg-dirty-beige {
    background-color: $dirty_beige !important;
}

.bg-white {
    background-color: $white !important;
}